.cartItemWrap {
    width: 100%;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}

.imageWrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    height: 80px;
    border: 1px solid rgba(0,0,0,.125);
    padding: 2px;
}

.cartItemTitle {
    margin-left: 10px;
}

@media screen and (max-width: 767px) {
    .cartItemTitle {
        composes: cartItemTitle;
        width: 200px;
    }
}

.column {
    display: flex;
    align-items: center;
}