.card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cardContent {
    flex-grow: 1;
}

.cardMedia {
    padding-top: 56.25%;
}

.tileWrap {
    padding: 10px;
    position: relative;
}

.like {
    color: red;
    position: absolute;
    top: 12px;
    right: 30px;
}

.unlike {
    position: absolute;
    top: 12px;
    right: 30px;
}