.productsWrap {
    height: calc(100% - 30px);
}

.cardGrid {
    padding-top: 80px;
}

.contentWrap {
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
    .contentWrap {
        display: flex;
        margin-left: 15px;
        margin-right: 35px;
        flex-wrap: wrap;
    }
}